.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.cardTitle {
  height: 10%;
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardImage {
  text-align: center;
  padding: auto;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.cardImageFile {
  height: 200px;
  width: 100%;
  object-fit: scale-down;
}

@mixin cardBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35%;
  margin-top: 10px;
  border-radius: 20px;
  background: #2bd9af;
  text-align: center;
  padding: 10px 20px;
}

.cardDescription {
  height: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 0px;
}

.cardDescription:last-child {
  justify-self: end;
}

.cardPrice {
  color: #0e42fd;
  font-size: large;
  font-weight: bold;
}

.women {
  @include cardBottom();
  background-color: #ff5e84;
}

.men {
  @include cardBottom();
  background-color: #2bd9af;
}
