.homeFlashSaleItems {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 20% 20% 20% 20%;
}

.homeCategoriesItems {
  display: flex;
  justify-content: space-between;
}

.categoryCard {
  min-width: 400px;
  border-radius: 30px;
  padding: 50px 20px;
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.15);
}

.women {
  background-color: #ff5e84;
}

.men {
  background-color: #2bd9af;
}
