.homeFlashSaleItems {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 20% 20% 20% 20%;
}

.homeCategoriesItems {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}

.categoryCard {
  border-radius: 30px;
  padding: 100px 50px;
  text-align: center;
  font-size: 60px;
  color: white;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.15);
}

.women {
  background-color: #FF5E84;
}

.men {
  background-color: #2BD9AF;
}